

body{
    background-color: #3B492D;
    height: 5000px;
    position: relative;
    margin: 0;
    top: 0;
    font-family: "Glory", sans-serif;
    width: 100%;
    scroll-behavior: smooth;
}

#main_content{
    position: relative;
}

h1{
    font-size:  90px;
}

h2{
    color: #FAD6A5;
}

#hero_section{
    top: 0;
    margin: 50px 50px 10px 50px;
    height: 2000px;
}

#hero_logo{
    width: 300px;
    height: 300px;
}

.hero_background{
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: -1;
    width: calc(100% + 50px);
}

button{
    border-width: 0;
    font-weight: 800;
    font-size: 75px;
    font-family: "Glory";
    cursor: pointer;
}

.left_sharp{
    border-radius: 50px 50px 50px 0px;
}

.right_sharp{
    border-radius: 50px 50px 0px 50px;
}

.darkgreen{
    background-color: #3B492D;
    color: #FCF8E8;
}

.light{
    background-color: #FCF8E8;
    color: #3B492D;
    font-weight: 600;
}

.light h1{
    color: #86644F;
}

.brown{
    background-color: #86644F;
    color: #FCF8E8;
}

.brown h1{
    color: #ECB390   
}

.yellow{
    background-color: #FAD6A5;
    color: #3B492D;
    font-weight: 600;
}


.menu_section{
    position: relative;
    top: -800px;

}

#menu_button{
    width: 190px; 
    height: 190px; 
    margin-left: calc(50% - 95px);
    margin-bottom: 50px;
    font-size: 125px;
    position: relative;
}

#nav_menu{
    width: 80%;
    left: 10%;
    font-size: 55px;
    color: #FCF8E8;
    z-index: 2;
}

td{
    cursor: pointer;
}

.menu_fixed{
    position: fixed;
    top: 15px;
}

.menu_bcg{
    position: fixed;
    width: 100%;
    height: 130px;
    background: linear-gradient(180deg, #3B492D 72.4%, rgba(59, 73, 45, 0.541667) 85.42%, rgba(59, 73, 45, 0) 95.31%);
    top: 0;
    z-index: 1;
}
.menu_bcg_hidden{
    height: 0;
}

.hero_button{
    padding-left: 40px;
    padding-right: 40px;
    height: 130px;
    position: relative;
}

.hero_button img{
    position: absolute;
}

.hero_button p{
    margin-top: auto;
    margin-bottom: auto;
}

#hero_join{
    left: 50%;
    top: -450px;
}

#hero_more{
    left: 0;
    top: -600px;
}

#hero_text{
    width: 40%;
    font-size: 35px;
    color: #FCF8E8;
    font-weight: 500;
    height: 300px;
}

#boat_div{
    position: relative;
    top: -1350px;
    height: 300px; 
    width: 100%; 
    overflow: hidden;
    pointer-events: none;
}

.boat_image{
    left: 100%;
    position: relative;
    top: -60%;
    width: 70%;
    transition: left 1s;
}

.boat_in{
    left: 10%;   
}

.boat_out{
    transition: left 0.3s;
    left: -100%;
}

.water_bcg{
    position: absolute;
    width: 100%;
    top: 1075px;
    height: 400px;
    left: 0px;
    transition: height 0.5s;
}

.water_bcg_hidden_class{
    height: 0;
}

.content_info{
    font-size: 30px;
    top: -1000px;
    position: relative;
}

.when_and_where div{
    padding: 20px;
    padding-left: 50px;
}


.content_info h1{
    margin: 0px;
}

#info_where{
    margin-left: 50px;
    width: 65%;
    margin-bottom: 50px;
}

#info_when{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 450px;
}

.gallery_turn_on{
    font-size: 50px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column: 2;
}

.scroll_to_about{
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 25px;
}

div#when_and_buttons{
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    display: grid;
    gap: 50px;
}
.arrow_down{
    width: 35%;
    height: 35%;
    position: relative;
    top: 10%;
}

.info_about{
    margin: 50px 0 50px 0;
    padding: 50px;
}


.about_img{
    height: 50vh;
}

.about_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.about_grid{
}

#about div{
    margin: 0;
}
.stany_img{
    grid-row: 1;
    grid-column-start: 1;
}

.stany_text{
    grid-row: 1;
    grid-column-start: 2;
}

.etapa_img{
    grid-row: 2;
}
.etapa_text{
    grid-row: 2;
}
.edu_img{
    grid-row: 2;
}
.kuchyne_img{
    grid-row: 3;
}
.kuchyne_text{
    grid-row: 3;
}
.bezpecnost_img{
    grid-row: 4;
}
.bezpecnost_text{
    grid-row: 4;
}
.bezpecnost_lod_img{
    grid-row: 4;
}


@media (max-width: 1350px) {
    #nav_menu{
     font-size: 35px;
    }
 }

@media (max-width: 1150px) {
    #nav_menu{
     font-size: 25px;
    }
 }